html{
	scroll-behavior: smooth;
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Macondo', cursive;
	background-position: 70% 10%;
	background-image: url(../images/clouds.webp);
}
header{
	padding-top: 2%;
	padding-right: 5%;
	padding-bottom: 2%;
	padding-left: 5%;
	display: flex;
	justify-content: space-between;
	background-color: #FEFEFE;
	position: sticky;
	top: 0;
	z-index: 2;
	width: 100%;
}
.logo-container a img{
	height: 65px;
}

nav{
	display: flex;
	align-items: center;
	width: 70%;
	overflow: hidden;
}
nav ul{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	font-size: 1.2rem;
	text-transform: uppercase;
}
nav ul li a:hover{
	text-decoration: underline;
	font-weight: 800;
}
a{
	text-decoration: none;
	color: #000000;
}
.activeAnchor{
	font-weight: bolder;
	text-decoration: underline;
}
.icon { display: none; }
section{
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffffab;
}
.principal{
	width: 100%;
	height:75vh;
	background-image: url(../images/avatarBannerWT.webp);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #ffffffab;
}
.principal div img{
	width: 100%;
}
.secundario{
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
}
.secundario #galeriaWrapper{
	width: 100%;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 1fr);
}
.secundario .temporadasWrapper{
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	width: 100%;
}
.secundario div{
	width: 70%;
	padding: 2%;
	text-align: center;
}
.temporadasDescWrapper{
	width: 100%;
	padding: 2%;
	padding-top: 10vh;
}
.temporadaDescImg{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.temporadaDescImg img{
	height: 450px;
	width: 450px;
}
.temporadasDescWrapper div{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.temporadasDescWrapper:nth-child(2)>div{
	flex-wrap: wrap-reverse;
}
.temporadasDescWrapper div div{
	width: 50%;
	min-width: 500px;
}
.temporadasDescWrapper div div h4{
	font-size: 2rem;
	width: 100%;
	padding-left: 10px;
	margin-top: 5vh;
}
.temporadasDescWrapper div div p{
	font-size: 1.5rem;
	padding: 20px;
}
.secundario div a img{
	width: 100%;
}
h4{
	font-size: 1.5rem;
	text-transform: uppercase;
}
footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	gap: 35px;
	background-color: #ffffffab;
}
footer i{
	font-size: 2rem;
}
footer span{
	text-align: center;
	width: 100%;
}
h1{
	text-align: center;
	padding: 1.5rem;
	font-size: 2.5rem;
	background-color: #FEFEFE;
}
.form-container{
	width: 100%;
	padding: 5%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.form-container>div{
	width: 40%;
	overflow: hidden;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-container>div>img{
	border-radius: 300px;
}
.form{
	min-width: 500px;
	width:50%;
	height:440px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(1vh) auto;
	padding:10px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	font-size: 14px;
	position:relative
}

h3.contacto{
	margin:10px 0;
	padding-bottom:10px;
	width:150px;
	color:#78788c;
	border-bottom:3px solid #78788c;
	font-size: large;
}
.example-image{
	margin-right: 0px;
}
input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2
}

input:focus{
	border-bottom:2px solid #78788c
}

button{
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid #78788c;
	background:0;color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
}

button:hover{
	background:#78788c;
	color:#fff;
}

div.pie_contacto{
	position:absolute;
	bottom:-15px;
	right:30vw;
	background:#50505a;
	color:#fff;
	min-width: 335px;
	width:25vw;
	padding:16px 4px 16px 0;
	border-radius:6px;
	box-shadow:10px 10px 40px -14px #000;
}

div.pie_contacto span{
	margin:0 5px 0 15px;
}
div.pie_contacto{
	position:static;
	margin-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
/* PERSONAJES */
.principal-pj{
	gap: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
	margin-top: 20px;
}
.pj-card{
	box-shadow: 0px 5px 18px 0px #9b9797;
	height: 100%;
	min-height: 750px;
	width: 40%;
	min-width: 400px;
	box-sizing: border-box;
}
.pjcard-wrapper img{
	transition: transform 0.3s ease-in-out; 
}
.pj-card:hover{
	outline: 2px solid black;
	cursor: pointer;
}
.pj-card a div{
	overflow: hidden;
}
.pj-card:hover .pjcard-wrapper>div>img{
	transform: scale(1.1);
}
.pjcard-wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
}
.pjcard-wrapper h3{
	width: 100%;
	text-align: center;
	padding : 5px 0px 5px 0px;
	font-size: 1.4rem;
}
.pjcard-wrapper p{
	padding: 0px 20px 0px 20px;
	font-size: 1.5rem;
}

/* RESEÑAS */
.principal-resenas{
	padding: 5% 12% 5% 12%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.principal-resenas > :nth-child(even){
	align-self: flex-end;
}
.principal-resenas article{
	background: rgba( 155, 155, 155, 0.1 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	width: 55%;
	min-width: 400px;
	padding: 30px;
	margin-bottom: 25px;
}
.principal-resenas article div:nth-child(1){
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.principal-resenas article div:nth-child(1) img{
	border-radius: 50px;
	outline: 3px solid black;
}
.principal-resenas article div:nth-child(1) span{
	padding: 13px 0px 10px 0px;
	font-size: 1.2rem;
}
.principal-resenas article div:nth-child(2) blockquote{
	font-size: 1.3rem;
}
/* VISTA PERSONAJE */

.principal-pjdesc{
	display: flex;
	padding: 20px;
	width: 90%;
	margin-top: 20px;
}
.principal-pjdesc article{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.principal-pjdesc article div:nth-child(1){
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	min-width: 300px;
	overflow: hidden;
}
.principal-pjdesc article div:nth-child(2){
	padding: 15px;
	width: 90%;
	font-size: 1.3rem;
}

.principal-pjdesc article h3{
	font-size: 2rem;
	padding: 20px 0px 5px 0px;
}

@media (max-width: 768px) { 
	header{
		flex-wrap: wrap;
	}
	.logo-container a img{
		height: 100px;
	}
	nav ul {
		display: none;
	}
	nav.responsive{
		width: 100%;
	}
	nav.responsive ul {
		display: block;
	}
	nav.responsive ul li {
		display: block;
		text-align: center;
		padding: 0.5rem;
	}
	nav.responsive ul li a {
		padding-right: 0;
		font-size: 1.5rem;
	}
	.icon {
		display: block;
		padding-right: 0.6rem;
		margin: auto 0;
	}
	.icon i{
		font-size: 2rem;
	}
	.principal{
		height: 35vh;
		padding: 10%;
		background-position: center;
	}
	section{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.secundario #galeriaWrapper{
		width: 100%;
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(2, 1fr);
	}
	.secundario .temporadasWrapper{
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(1, 1fr);
		text-align: center;
		width: 100%;
	}
	.temporadasDescWrapper div div{
		width: 100%;
		min-width: 0;
	}

	div.pie_contacto{
		position:static;
		margin-top: 20px;
		width: auto;
		flex-wrap: wrap;
		height: auto;
		right: 0;
		min-width: fit-content;
	}
	footer{
		width: 100%;
	}
	.form{
		min-width: 100%;
	}
	.pj-card:hover{
		outline: none;
		cursor: pointer;
	}
	.form-container>div{
		width: 100%;
	}
	.form-container>div>img{
		border-radius: 300px;
	}
}

@media (max-width: 480px) { 
header{
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	z-index: 1;
}

.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: right;
}
nav ul {
	display: none;
}
nav.responsive ul {
	display: block;
}
nav.responsive ul li {
	display: block;
	text-align: center;
	padding: 0.5rem;
}
nav.responsive ul li a {
	padding-right: 0;
}
section{
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.principal{
	height: 200px;
	padding: 10%;
}
.principal-pj{
	overflow: hidden;
	min-width: none;
	width: 100%;
	padding: 10px 0px 10px 0px ;
}
.secundario{
	margin-top: 1%;
	display: block;
}
.temporadaDescImg img{
	height: 300px;
	width: 300px;
}
h2{
	font-size: 1rem;
}
h4{
	font-size: 1.2rem;
}
.principal-resenas{
	padding: 20px 15px 20px 15px;
}
.principal-resenas > :nth-child(even){
	align-self: center;
}
.principal-resenas > :nth-child(odd){
	align-self: center;
}
.principal-resenas article{
	font-weight: 500;
	font-style: normal;
	max-width: 100%;
}
footer{
	height: 150px;
	width: 100%;
	justify-content: space-evenly;
	align-items: flex-end;
}
footer img{
	max-width: 3rem;
}
div.pie_contacto{
	position:static;
	margin-top: 15px;
	width: auto;
	right: 0;
	min-width: fit-content;
}
.principal-pjdesc{
	width: 100%;
}
}